.header-wrapper {
  background: linear-gradient(45deg, #706991, #F8CDDA);
  animation: gradient 10s ease infinite;
  background-size: 150% 150%;
}
.header-left {
  display: flex;
  justify-content: space-around;
}
.header-right {
  display: flex;
  justify-content: center;
}
.space-around {
  display: flex;
  justify-content: space-around;
}
.header-padding {
  padding: 13px 20px 17px 20px;
}
@keyframes gradient {
  0% {
    background-position: 0, 50%;
  }
  50% {
    background-position: 100%, 50% ;
  }
  100% {
    background-position: 0, 50%;
  }
}
.header-hover {
  transition: 0.15s;
  border-radius: 5px;
}
.header-hover:hover {
  color: #dbd8d8;
  background: #9f6a88;
  cursor: pointer;
}