.header-wrapper {
  background: #e8d67d;
}
.header-left {
  display: flex;
  justify-content: space-around;
}
.header-right {
  display: flex;
  justify-content: center;
}
.space-around {
  display: flex;
  justify-content: space-around;
}
.header-padding {
  padding: 13px 20px 17px 20px;
}